.li {
  /* border: white solid 3px; */
  border-radius: 20px;
  width: 50%;
  height: auto;
  padding: 0.5em;
  background: linear-gradient(90deg, #9ab85f, #00000040, #b85f9a);
}
.padLi {
  padding: 1em;
  background-color: #5f9ab8;
  border-radius: 20px;
}

.p {
  font-family: "raleway";
  font-size: 2em;
  color: white;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h4,
.x {
  text-align: center;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.905);
  font-family: "arista2.0";
  margin-bottom: 1vh;
}
.x {
  cursor: pointer;
  order: 1;
}
